/* Global Variables */

:root {
    --main-bg-color: rgb(44, 44, 44);
    --main-text-color: rgb(255, 255, 255);
}


/* Body Styles */

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-weight: 300;
    font-style: regular;
    letter-spacing: 5px;
    color: var(--main-text-color);
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 3px;
    color: var(--main-text-color);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-text-color);
}


/* Navigation Bar Styles */

.nav-wrapper {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 0px;
}

.nav-group {
    display: flex;
}

.nav-group a {
    text-decoration: none;
}

.nav-face {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    background-color: rgb(44, 44, 44);
    transition: background-color 0.5s;
}

.nav-link {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    color: #d8d8d8;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 3px black;
    transition: color 0.5s;
    transition: text-shadow 0.5s;
}

.nav-face:hover {
    background-color: var(--main-text-color);
}

.nav-face:hover .nav-link {
    color: var(--main-bg-color);
    text-shadow: 0.5px 0.5px 3px rgb(255, 255, 255);
}


/* Content Styles */

.content-wrapper {
    z-index: 1;
    padding-top: 60px;
}


/* Footer Styles */

.footer-wrapper {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.footer-link-wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.footer-link-wrapper a {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 3px black;
    transition: text-shadow 0.25s;
}

.footer-link-wrapper a:hover {
    text-shadow: 3px 3px 4px black;
}


/* Grid Styles */

.grid-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-item-wrapper {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    position: relative;
}

.grid-item-background {
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1.0;
    transition: opacity 0.5s;
    transition: transform 1.0s;
}

.grid-item-description-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    font-size: 18px;
    color: var(--main-text-color);
    text-shadow: 2px 2px 7px black;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.0;
    transition: opacity 1.2s;
}

.grid-item-wrapper:hover .grid-item-background {
    opacity: 0.10;
    transform: scale(1.03);
}

.grid-item-wrapper:hover .grid-item-description-wrapper {
    opacity: 1.0;
}

.grid-item-wrapper:hover .grid-item-text-wrapper {
    opacity: 0.0;
}

.grid-item-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    color: var(--main-text-color);
    text-shadow: 2px 2px 7px black;
    height: 100%;
    width: 100%;
    opacity: 1.0;
    transition: opacity 0.5s;
}

.grid-item-suptext {
    font-size: 24pt;
    font-weight: 700;
}

.grid-item-subtext {
    font-size: 18pt;
    font-style: oblique;
    font-weight: 300;
}


/* Banner Styles */

.banner-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: 50% 35%;
    background-repeat: no-repeat;
}

.solid-line {
    border-bottom: 1px solid var(--main-text-color);
}

.spacer {
    font-size: 0;
    height: 10px;
    width: 100%;
    line-height: 0px;
}


/* Block Styles */

.block-wrapper {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 800px;
}

.player-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandcamp-player {
    border: 0px;
    width: 100%;
    height: 241px;
    max-width: 640px;
}


/* Button Styles */

.button-item {
    text-decoration: none;
    margin: 12px;
}

.button-face {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    width: 80%;
    min-width: 350px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    background-color: rgb(80, 80, 80);
    transition: background-color 0.5s;
}

.button-link {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    color: #d8d8d8;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 3px black;
    transition: color 0.5s;
    transition: text-shadow 0.5s;
}

.button-face:hover {
    background-color: var(--main-text-color);
}

.button-face:hover .button-link {
    color: var(--main-bg-color);
    text-shadow: 0.5px 0.5px 3px rgb(255, 255, 255);
}


/* Social Media Icons */

.fa {
    padding: 20px;
    font-size: 20px;
    height: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: white;
    color: transparent;
}
  

/* Mobile Version Overrides */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {


    /* Body Styles */

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }


    /* Navigation Bar Styles */

    .nav-button {
        font-size: 18px;
    }

    .nav-logo {
        font-size: 18px;
    }

    .footer-link-wrapper a {
        font-size: 18px;
    }


    /* Grid Styles */

    .grid-items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }    


    /* Banner Styles */

    .banner-background {
        height: 300px;
    }


    /* Block Styles */
    .block-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
}

